*{
    margin: 0;
    padding: 0;
    background-attachment: fixed;
    background-size: cover;
    inline-size: 20px;
    overflow: hidden;
    right: 20px;
}

body {
    user-select: none;
    kerning: 0ch;
}