* {
    margin: 0;
    padding: 0;
}

.main {
    border: 1px solid black;
    width: 80%;
    margin: 0 auto;
    height: 800px;
    display: flex;
}

.main_left {
    border-right: 1px solid black;
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main_left select {
 width: 60%;
}

.main_right {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.main_right h1 {
    text-align: center;
}

.main_left h1 {
    text-align: center;
    font-size: 30px;
}
#main_form{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#main_output{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    width: 80%;
    height: 80%;
    margin: 0 auto auto;
    gap: 5px;
    box-sizing: border-box;
    padding: 10px;
    
}
.hidden{
    display: none;
}